* {
  box-sizing: border-box;
  margin: 0;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding: 0 36px;
  font-size: 20px;
  line-height: 1.2;
  border: none;
  border-radius: 50px;
  margin: 0 8px;
  color: #fff;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

.cancel-button {
  background-color: #ff4949;
  box-shadow: 0 10px 16px 0 rgba(255, 73, 73, 0.35);
}

.confirm-button {
  background-color: #13ce66;
  box-shadow: 0 10px 16px 0 rgba(19, 206, 102, 0.35);
}